
<!------------ header section ------------->
<header>
    <div class="container">
        <h4>Product</h4>
        <div class="links">
            <p><span>Home</span> / <span>Login</span></p>
        </div>
    </div>
</header>


<div class="container">
    <!------------ product ------------->
<div class="product">
    <section class="product-img">
        <img src="/assets/axe 1.png" alt="">
    </section>

    <section class="product-info">
        <h4 class="head">Timberwood Axe</h4>
        <div class="product-content price">
            <p>Price:</p>
            <p>$1,200.00</p>
        </div>

        <div class="product-content size">
            <p>Size:</p>
            <div class="sizes">
                <p>S</p>
                <p>M</p>
                <p>L</p>
            </div>
        </div>

        <div class="product-content">
            <p>Color:</p>
            <div class="color">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>

        <div class=" product-content manufacturer">
            <p>Manufacturer:</p>
            <p>Timberwood</p>
        </div>

        <div class="product-content type">
            <p>Type:</p>
            <p>Axe</p>
        </div>

        <div class="product-content available">
            <p>Availability:</p>
            <p>Available</p>
        </div>

        <div class="product-content quantity">
            <p>Quantity:</p>
            <div class="quantity-input" style="position: relative;">
                <div>
                    <p #amount >1</p>
                    <div class="click minus" (click)="minus(amount)">
                        <img src="/assets/minus.png" alt="">
                    </div>
                    <div class="click plus" (click)="plus(amount)">
                        <img src="/assets/plus.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        
        <!------------ button actions ------------->
        <div class="button-action">
            <section>
                <button>Add to Cart</button>
                <button>Buy it now</button>
            </section>
            <section>
                <button>Add to Wish List</button>
            </section>
        </div>
    </section>
</div>

<!------------ product dditional details tabs ------------->
<div class="tabs">
        <button>Product Description</button>
        <button>Additional Information</button>
        <button>Reviews</button>
</div>

<!------------ product sdditional details ------------->
<div class="product-information">
    <p>Nam tempus turpis at metus scelerisque placerat nulla deumantos solicitud felis. Pellentesque diam dolor, elementum etos lobortis des mollis ut risus. Sedcus faucibus an sullamcorper mattis drostique des commodo pharetras loremos.Donec pretium egestas sapien et mollis.</p>

    <p>
        <b>  Lorem ipsum dolor sit amet</b>
    </p>
      
    <p>
        Sonsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    </p>   
    <p>
        <b> Busey ipsum dolor sit amet</b>
    </p>
       
    <p>
        Tortor at auctor urna nunc id cursus metus aliquam. Odio tempor orci dapibus ultrices. Tortor condimentum lacinia quis vel eros donec ac odio. Velit euismod in pellentesque massa placerat duis ultricies lacus. Scelerisque purus semper eget duis at tellus at urna condimentum. Eu facilisis sed odio morbi quis commodo odio aenean urpis massa sed elemen. 
    </p>
     
    <p>
        <b>Vestibulum sit amet ipsum</b>
    </p>
        
    <p>
        Praesent vestibulum congue tellus at fringilla. Curabitur vitae semper sem, eu convallis est. Cras felis nunc commodo eu convallis vitae interdum non nisl. Maecenas ac est sit amet augue pharetra convallis nec danos dui. Cras suscipit quam et turpis eleifend vitae malesuada magna congue. Damus id ullamcorper neque. Sed vitae mi a mi pretium aliquet ac sed elit. Pellentesque nulla eros accumsan quis justo at tincidunt lobortis denimes loremous. Suspendisse vestibulum lectus in lectus volutpat, ut dapibus purus pulvinar. Vestibulum sit amet auctor ipsum.
    </p>
</div>

<!------------ Recommended Products ------------->
<div class="recommeded-products">
    <h4 class="heading">Recommended Products</h4>

    <!----------- card item container ------------->
<!-- <div class="card-container">


    <div class="card">
        <div style="height: 300px;">
            <img src="/assets/sink.png" alt="Avatar" style="width:100%; height: 100%">
        </div>
        <div class="container">
          <h4 class="heading">Sinks</h4> 
          <p class="price">$8,500.00</p> 
        </div>
    </div>    

     
</div> -->
</div>
</div>
