<!-- card design -->
<div class="el-wrapper">
    <div class="box-up">
      <img class="img" src="https://www.ikea.com/us/en/images/products/kallsjoen-pillar-faucet-chrome-plated__0914025_pe783844_s5.jpg?f=s" alt="">
        <div class="img-info">
          <div class="info-inner">
            
            <span class="p-name">Kitchen Pipe Chrome</span>
            <span class="p-company">Something</span>
          </div>
        <div class="a-size">
          <img src="/assets/eye.png" alt="">
          <img src="/assets/wishlist.png" alt="">
          <img src="/assets/shopping-cart.png" alt="">
        </div>
     </div>
        </div>

      <div class="box-down">
        <div class="h-bg">
          <div class="h-bg-inner"></div>
      </div>

          <a class="cart" href="#">
            <span class="price">$1,200</span>
            <span class="add-to-cart">
              <span class="txt">Add to cart</span>
            </span>
          </a>
        </div>

</div>
