
<!------------ header section ------------->
<header>
    <div class="container">
        <h4>Product</h4>
        <div class="links">
            <p><span>Home</span> &#47; <span>Login</span></p>
        </div>
    </div>
</header>


<div class="container">
    <!------------ product ------------->
<div class="product">
    <section class="product-img">
        <img src="/assets/axe 1.png" alt="">
    </section>

    <section class="product-info">
        <h4 class="head">Timberwood Axe</h4>
        <div class="product-content price">
            <p>Price:</p>
            <p>$1,200.00</p>
        </div>

        <div class="product-content available">
            <p>Availability:</p>
            <p>Available</p>
        </div>

        <div class="product-content quantity">
            <p>Quantity:</p>
            <div class="quantity-input" style="position: relative;">
                <div>
                    <p #amount >1</p>
                    <div class="click minus" (click)="minus(amount)">
                        <img src="/assets/minus.png" alt="">
                    </div>
                    <div class="click plus" (click)="plus(amount)">
                        <img src="/assets/plus.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        
        <!------------ button actions ------------->
        <div class="button-action">
            <section>
                <button>Add to Cart</button>
                <button>Buy it now</button>
            </section>
            <section>
                <button>Add to Wish List</button>
            </section>
        </div>
    </section>
</div>

<!------------ product dditional details tabs ------------->
<div class="tabs">
        <button>Product Description</button>
</div>

<!------------ product sdditional details ------------->
<div class="product-information">
    <p>Nam tempus turpis at metus scelerisque placerat nulla deumantos solicitud felis. Pellentesque diam dolor, elementum etos lobortis des mollis ut risus. Sedcus faucibus an sullamcorper mattis drostique des commodo pharetras loremos.Donec pretium egestas sapien et mollis.</p>

    <p>
        <b>  Lorem ipsum dolor sit amet</b>
    </p>
      
    <p>
        Sonsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    </p>   
    <p>
        <b> Busey ipsum dolor sit amet</b>
    </p>
</div>

<!------------ Recommended Products ------------->
<div class="recommeded-products">
    <h4 class="heading">Recommended Products</h4>

    <!----------- card item container ------------->
<div class="card-items">
    <app-card [products]="product" *ngFor="let product of products.slice(0,3)"></app-card>
</div>
</div>
</div>
