<div class="container">
    
     <!-- shipping navigation -->
     <app-stepper-nav></app-stepper-nav>

        <!-- shipping info -->
     <div class="shipping-info">
          <section class="contact"></section>
          <section class="ship-to"></section>
     </div>

     <!----------- lower navigation ----------->
     <div class="lower-navigation">
          <section class="return-option" style="cursor: pointer;">
              <i class="fa-solid fa-less-than"></i>
              <p style=" margin-left: 8px;">Return to Cart</p>
          </section>
        
          <section>
              <button class="cnt-shopping" style="cursor: pointer;">Continue to Shopping</button>
          </section>
      </div>
</div>
