<div class="outer-container">
    <div class="backButton">
        <img src="/assets/back-button.png" alt="">
        <p>Continue Shopping</p>
    </div>
    
    <div class="container">
        <section class="yourCart">
            <div class="heading">
                <p>Your Cart(1)</p>
            </div>

            <!---------------- loop starts here for each item in cart ------------------>
            <div class="item-in-cart">
                <section class="item-pic">
                    <!---------------- image for each item ------------------>
                    <img src="/assets/sink.png" alt="">
                </section>
                <section>
                       <!---------------- name of each item ------------------>
                    <h3 class="item-name">Moen Pull out Foucet</h3>
                       <!---------------- price of each item ------------------>
                    <h4 class="item-price">$12,000.00</h4>

                    <div class="description">
                           <!---------------- color of each item ------------------>
                        <h4>color: chrome</h4>
                          <!---------------- stylied of each item ------------------>
                        <h4>stylied: chr1002</h4>
                           <!---------------- quantity of each item ------------------>
                        <h4>Quantity: 1</h4>
                    </div>

                    <div class="buttons">
                          <!---------------- remove button item ------------------>
                        <button>Remove</button>
                        <button>Edit</button>
                    </div>
                </section>
            </div>
            <!---------------- loop ends here ------------------>
        </section>
    
        <section class="orderSummary">
            <p class="heading">order summary</p>

            <div class="subTotal summary-container">
                <p class="sum-topic head">Subtotal</p>
                 <!---------------- sub total ------------------>
                <p class="sum">$12,000.00</p>
            </div>

            <div class=" summary-container">
                <p class="sum-location head">delivery based on where you are located</p>
                 <!---------------- delivery sum ------------------>
                <p class="sum">$1500.00</p>
            </div>

            <div class="summary-container">
                <p class="sum-tax head">Tax</p>
                 <!---------------- tax sum ------------------>
                <p class="sum tax">$16.5%</p>
            </div>

            <div class="summary-container">
                <p class="sum-subTotal total">Total</p>
                 <!---------------- total ------------------>
                <p class="sum">$12,000.00</p>
            </div>

             <!---------------- checkout button ------------------>
            <button class="order-button">Proceed to checkout</button>
            <div>
                <p style="color: white; text-align: center; text-transform: uppercase;">or</p>
            </div>

            <div style="display: flex; align-items: center; justify-content: space-around; text-align: center; cursor: pointer;">
                <p style="color: white; font-size: 20px;  text-transform: uppercase;"> Checkout with </p><img src="/assets/stipe.png" alt="">
            </div>
        </section>
    </div>
</div>

