<footer>
    <div>
        <section class="logo">
            <img src="/assets/logo.png" alt="">
        </section>
        
        <section class="social-media">
            <div>
                <img src="/assets/facebook.png" alt="">
            </div>
            <div>
                <img src="/assets/instagram.png" alt="">
            </div>
         
            <div>
                <img src="/assets/twitter.png" alt="">
            </div>
        </section>

        <section class="copyRight">
            <p>Trinity Hardware and plumbing © 2022</p>
        </section>
    </div>

    <div class="links link">
        <li>Home</li>
        <li>Services we offer</li>
        <li>Store</li>
        <li>About Us</li>
        <li>Contactt Us</li>
    </div>

    <div class="link">
        <li>Wishlist</li>
    </div>
</footer>

