<nav>
    <div class="logo-container">
        <div class="logo" routerLink="/home">
            <img src="/assets/logo.png" alt="">
            <p>Trinity Plumbing <br> and Supplies</p>
        </div>
    </div>

    <div class="links">
        <div class="myAccount link">
                <img src="/assets/user.png" class="link-img">
            <p>My Account</p>
        </div>

        <div class="cart link" routerLink="/cart">
            <img src="/assets/shoppingCart.png" alt="" class="link-img">
            <p>Cart</p>
        </div>
    </div>
</nav>