<!------------------ header section ------------------>
<header>
    <section class="main-heading">
        <div>
            <h4>Search for some of your favourate Kitchen and <br> Bathroom Brands</h4>
            <div class="search-bar">
                <input type="search" name="" id="">
                <img src="assets/search.png" alt="">
            </div>
        </div>
    </section>
</header>

<!------------------ navigation ------------------>
<nav class="navbar">
    <ul>
        <li>Home</li>
        <li>Services</li>
        <li>Store</li>
        <li>About us</li>
        <li>Contact us</li>
    </ul>
  </nav>

<!------------------ second section ------------------>
<section class="second-section">
    <p class="head">Enhance</p>
    <p class="para">
        Your Bathroom or kitchen with our high quality products!
    </p>
</section>

<!----------- slideshow component ------------->
<app-slideshow [autoSlide]="true"></app-slideshow>

<!----------- card item container ------------->
<div class="card-container">

    <div class="card">
            <img src="/assets/sink.png" alt="Avatar" style="width:100%; height: 50%">
        <div class="container">
          <h4>Sinks</h4> 
          <p>Lorem ipsum dolor sit amet consectetur adipisicing....</p> 
        </div>
    </div>
    <div class="card">
            <img src="/assets/sink.png" alt="Avatar" style="width:100%; height: 50%">
        <div class="container">
          <h4>Faucets</h4> 
          <p>Lorem ipsum dolor sit amet consectetur adipisicing....</p> 
        </div>
    </div>
    <div class="card">
            <img src="/assets/sink.png" alt="Avatar" style="width:100%; height: 50%">
        <div class="container">
          <h4>Bath Tubs</h4> 
          <p>Lorem ipsum dolor sit amet consectetur adipisicing....</p> 
        </div>
    </div>
</div>

<!----------- welcome message container ------------->
<div class="welcome-container">
   <h4 class="head">Welcome To</h4>
   <p class="second">Trinity hardware and plumbing supplies</p>
   <p class="information">MES CUML DIA SED INENIASINGE DOLOR IPSUM COMMETE IPSUM COMNETUS MES INENIASINGE DOLOR.DOLOR IPSUM COMMETE PSUM COMNETU MES INENIASINGE DOLOR. MES CUML DIA SED INENIASINGE INENIASINGE
    DOLOR IPSUM COMMETE IPSUM COMNETUS MES.MES CUML DIA SED INENIASINGE DOLOR IPSUM COMMETE
    IPSUM COMNETUS MES INENIASINGE DOLOR.DOLOR IPSUM COMMETE PSUM COMNETU MES.</p>
</div>

<!----------- our top brand container ------------->
<div class="our-brands">
    <h4>Our Top Brands</h4>
    <section class="brands">
        <img src="/assets/brands/oatey.png" alt="">
        <img src="/assets/brands/moen 1.png" alt="">
        <img src="/assets/brands/dewalt-logo-1 1.png" alt="">
        <img src="/assets/brands/black-decker 1.png" alt="">
        <img src="/assets/brands/behr 1.png" alt="">
    </section>
</div>

<!----------- view products section ------------->
<div class="our-products">
    <button class="view-products">View our products</button>
</div>
