<div class="con">
  <div class="head">
    <h1>Registration</h1>
    <p>Home / Registration</p>
  </div>

<div class="login">

  <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="userName">User Name <span style="color: red">*</span></label>
        <input type="text" class="form-control" formControlName="userName" required >
      </div>

      <div class="form-group">
        <label for="email">Email <span style="color: red">*</span></label>
        <input type="text" class="form-control" formControlName="email" required >
      </div>

      <div class="form-group">
        <label for="email">Role Assigned <span style="color: red">*</span></label>
        <input type="text" class="form-control" formControlName="role" required >
      </div>

      <div class="form-group">
        <label for="password">Password <span style="color: red">*</span></label>
        <input type="password" class="form-control" formControlName="password" required >
      </div>

    <div class="form-group">
        <label for="passwordConfirmed">Confirm password <span style="color: red">*</span></label>
        <input type="password" class="form-control" formControlName="passwordConfirmed" required >
      </div>

      <div class="btn">
     <input type="submit" value="Register">
      </div>

      <div class="text">
        <p><a routerLink="">Return to Store</a></p>
    </div>
</form>

</div>
</div>
